# Public site configuration
NEXT_PUBLIC_SITE_URL=https://thetirtayasa.my.id
NEXT_PUBLIC_BACKEND_API_URL=http://127.0.0.1:8888

# Public contact configuration
NEXT_PUBLIC_CONTACT_EMAIL=abdtirtayasa24@gmail.com
NEXT_PUBLIC_WHATSAPP_URL="https://wa.me/6282121172378?text=Hi%20Abdul%2C%20I%20found%20your%20contact%20on%20your%20website.%20I%27m%20interested%20with%20your%20profile%2C%20so%20can%20we%20discuss%20more%3F"

# Public résumé configuration
NEXT_PUBLIC_RESUME_URL=
NEXT_PUBLIC_RESUME_BASENAME=CV_Abdul-F-Tirtayasa
